:root {
    --info-color: #246794;
  }

.sticky {
    position: fixed;
    top: 0;
  }
  
body {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

.userTitle {
  color: #19547b;
  margin-top: 30%;
}
  
:root {
  --grey-color: #556465;
}

  
  ul {
    padding: 0;
    margin: 0 5;
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
  }
  
  .menu-hover-fill li {
    position: relative;
  }
  .menu-hover-fill li::before {
    position: absolute;
    content: "";
    top: 0;
    left: -1rem;
    width: 0.25rem;
    height: 100%;
    background: var(--menu-link-active-color);
    transition: 0.6s;
  }
  .menu-hover-fill li a {
    --menu-link-color: var(--grey-color);
    position: relative;
    background: linear-gradient(var(--menu-link-active-color) 0 100%) left/0 no-repeat;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    transition: background-size 0.45s 0.04s;
  }
  .menu-hover-fill li a::before {
    position: absolute;
    content: attr(data-text);
    z-index: -1;
    color: var(--menu-link-color);
  }

  .menu-hover-fill li {
    --menu-link-active-color: var(--info-color);
  }
  .menu-hover-fill li:hover::before {
    left: calc(100% + 1rem);
  }
  .menu-hover-fill li:hover a {
    background-size: 100%;
  }