{% extends "base_generic.html" %}

{% block content %}
<div class="container" id="reg-cont">
  <div class="title">My Ride List</div>
  <div class="content">
    <div class="row">
      {% if ride_list %}
      <div class="col-lg-8 mx-auto">
        <div class="card mb-3">
          <ul class="list-group list-group-flush">
            {% for ride in ride_list %}
            <li class="list-group-item">
              <a href="/rideshare/rides/{{ ride.pk }}/" class="text-decoration-none text-dark">
                <div class="d-flex justify-content-between align-items-center">
                  <h5 class="card-title mb-0">{{ ride.destination_address }}</h5>
                  <span class="badge bg-primary">{{ ride.status }}</span>
                </div>
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% else %}
      <p class="text-center">You have no ride in this category.</p>
      {% endif %}
    </div>
  </div>
</div>
<div class="container text-center mt-3">
  <a href="{% url 'rideshare:owner-request' %}" class="btn btn-primary">Request a New Ride</a>
</div>
{% endblock %}

